*body{
    font-family: oswald, sans-serif;
    font-size: 1.5em;
    color: #fff;
    background: #000;
    

}




nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 45px;
    
    a {
        stop-opacity: 0.5;
        text-decoration: none;
        &active{
            stop-opacity: 1;
        }};

    
        img {
            width: 200px;
            border-radius: 50%;
            border: 0.5em solid;
        }

        

    }
    h3 {
    
        font-size: 3em;
        font-weight: bold;
        margin: 0;
        justify-content: center;
        text-align: center;
    }
    h1 {
        font-size: 3em;
        font-weight: bold;
        margin: 0;
        justify-content: center;
        text-align: center;
    }
